from aimind_security import CustomSecurityManager
CUSTOM_SECURITY_MANAGER = CustomSecurityManager

FEATURE_FLAGS = {
    "ALERT_REPORTS": True,
    "ENABLE_TEMPLATE_PROCESSING": True
}

# Inicialmente no debería ser necesario
# SESSION_COOKIE_SAMESITE=None

# En caso de que el docker-compose se exponga otro puerto
SUPERSET_FRONTEND_PORT = 8000

# Permito que el rol Public sea igual que Gamma
# PUBLIC_ROLE_LIKE_GAMMA = True

# ---------------------------------------------------
# Babel config for translations
# ---------------------------------------------------
# Setup default language
BABEL_DEFAULT_LOCALE = 'es'
# Your application default translation path
BABEL_DEFAULT_FOLDER = 'babel/translations'
# The allowed translation for you app
LANGUAGES = {
    'es': {'flag': 'es', 'name': 'Español'},
    'en': {'flag': 'us', 'name': 'English'},
    'it': {'flag': 'it', 'name': 'Italian'},
    'fr': {'flag': 'fr', 'name': 'French'},
}

# Configuración para exportar a CSV con pandas
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
CSV_EXPORT = {
    'encoding': 'utf-8',
    'sep': ';',
    'decimal': ',',
}

AUTH_BEARER_HOST = "lhtrfront.localhost.net"
AUTH_USER_ENDPOINT = "http://lhtrfront.localhost.net/api/me"